<!--
  This template loads for the 'tab.about' state (app.js)
-->
<ion-view title="About Cheerz ">
    <ion-content padding="true">
        <div class="list card">
            <div class="item item-avatar item-text-wrap">
                <img src="img/badenpowell.png">

                <h2>Cheerz</h2>

                <p>This is a simple app that can replace a "Cheer Box" at your next Pack Meeting or Court of Honor.
                    At start up, the cheers are shuffled and displayed one at a time on the home screen. A complete
                    list of cheers can be found on the Cheers screen.</p>
                <!--<p>www.walkingriver.com</p>-->
            </div>
            <div class="item item-avatar item-text-wrap">
                <img src="img/ionic.png">

                <h2>Built with ionic</h2>

                <p>The beautiful, open source front-end framework for developing hybrid mobile apps with HTML5.</p>

                <p><a href="www.ionicframework.com">www.ionicframework.com</a></p>
                <p> MIT Licensed. Happy coding.</p>
            </div>
        </div>
    </ion-content>
</ion-view>