<ion-view title="Edit &ldquo;{{vm.cheer.title}}&rdquo;">
    <ion-content has-header="true" padding="true">
        <div class="list">
            <label class="item item-input">
                <input type="text" placeholder="Cheer Title" ng-model="vm.cheer.title">
            </label>

            <label class="item item-input">
                <textarea rows="4" placeholder="Description" style="height:100%;" ng-model="vm.cheer.description"></textarea>
            </label>

        </div>
        <button class="button button-block button-positive">
            Save
        </button>
    </ion-content>
</ion-view>
